@font-face {
  font-family: 'DroidSans';
  src: url('./DroidSans-webfont.eot');
  src: url('./DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
  url('./DroidSans-webfont.woff') format('woff'),
  url('./DroidSans-webfont.ttf') format('truetype'),
  url('./DroidSans-webfont.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans-Bold';
  src: url('./DroidSans-Bold-webfont.eot');
  src: url('./DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./DroidSans-Bold-webfont.woff') format('woff'),
  url('./DroidSans-Bold-webfont.ttf') format('truetype'),
  url('./DroidSans-Bold-webfont.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
