/*
Override default refinery application CSS below.
Formatting applies to all frontend.
 */

body {
  background-image: url(../images/broken_noise.png);
  width: 100%;
  font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  color: #bdbdbd;
}

::selection {
  background: #cc0000; /* Safari */
}
::-moz-selection {
  background: #cc0000; /* Firefox */
}

@font-face {
  font-family: 'Chunkfive';
  src: url('./Chunkfive-webfont.eot');
  src: url('./Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
  url('./Chunkfive-webfont.woff') format('woff'),
  url('./Chunkfive-webfont.ttf') format('truetype'),
  url('./Chunkfive-webfont.svg#Chunkfive') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url('./DroidSans-webfont.eot');
  src: url('./DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
  url('./DroidSans-webfont.woff') format('woff'),
  url('./DroidSans-webfont.ttf') format('truetype'),
  url('./DroidSans-webfont.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans-Bold';
  src: url('./DroidSans-Bold-webfont.eot');
  src: url('./DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./DroidSans-Bold-webfont.woff') format('woff'),
  url('./DroidSans-Bold-webfont.ttf') format('truetype'),
  url('./DroidSans-Bold-webfont.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

#logo { float: left; }

#logo h1 {
  margin: 0 0 0 100px;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Chunkfive', Arial, sans-serif;
  font-size: 5em;
}

#logo a { text-decoration: none; }

#logo a span { color: #e7e8e3; }

#logo a span:hover { color: #feb41c; }

#contact {
  margin: 20px 100px 0 0;
  float: right;
  text-align: right;
}

#contact address {
  text-transform: uppercase;
  font: 20px/24px 'Chunkfive', Arial, sans-serif;
}

#contact address a {
  color: #e7e8e3;
  text-decoration: none;
}

#contact address a:hover {
  color: #feb41c;
}

section#page {
  width: 100%;
}

section#page h1 {
  font-size: 3.4em;
  font-family: DroidSans-Bold, Arial, sans-serif;
  max-width: 200px;
  color: #feb41c;
}

section#page h2 {
  font-size: 1.4em;
  color: #bf302d;
  font-family: DroidSans-Bold, Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #24221f;
}

section#page p {
  font-size: 1em;
  #font-family: DroidSans, Arial, sans-serif;
  text-align: justify;
}

section#top {
  background: url(../images/bicycle_boulevard.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 0 20px 200px;
  border-bottom: 2px solid #3f3f3f;
  border-top: 1px solid #3f3f3f;
}

section#top p {
  max-width: 400px;
}

section#top h1, section#top p {
  margin: 0;
  padding: 5px 10px;
  background-color: rgba(54,63,69,0.8);
}

section#body_content {
  margin: 0 auto;
}
section#body_content_left {
  width: 700px;
}
section#body_content_right {
  width: 300px;
}

section#body_content_left .inner {
  padding: 0 0 0 150px;
}

section#body_content_right .inner {
  padding: 0 100px 0 0;
}

/*
footer a {
display: block;
position: relative;
overflow: hidden;
}

  footer a#facebook {
  background: url(../images/icons.png) no-repeat 0 0;
}

  footer a#twitter {
  background: url(../images/icons.png) no-repeat 0 0;
}
 */

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}
