* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

/*
Override default refinery application CSS below.
Formatting applies to all frontend.
 */

body {
  background-image: url(../images/broken_noise.png);
  font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  color: #bdbdbd;
}

ul { list-style: none; }
dl {
  padding: 0.5em;
}

dt {
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
}

dt:after {
  content: ":";
}

dd {
  margin: 0 0 0 90px;
  padding 0 0 0.5em 0;
}

::selection {
  background: #cc0000; /* Safari */
}
::-moz-selection {
  background: #cc0000; /* Firefox */
}

@font-face {
  font-family: 'Chunkfive';
  src: url('./Chunkfive-webfont.eot');
  src: url('./Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
  url('./Chunkfive-webfont.woff') format('woff'),
  url('./Chunkfive-webfont.ttf') format('truetype'),
  url('./Chunkfive-webfont.svg#Chunkfive') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url('./DroidSans-webfont.eot');
  src: url('./DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
  url('./DroidSans-webfont.woff') format('woff'),
  url('./DroidSans-webfont.ttf') format('truetype'),
  url('./DroidSans-webfont.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans-Bold';
  src: url('./DroidSans-Bold-webfont.eot');
  src: url('./DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./DroidSans-Bold-webfont.woff') format('woff'),
  url('./DroidSans-Bold-webfont.ttf') format('truetype'),
  url('./DroidSans-Bold-webfont.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

#logo { float: left; }

#logo h1 {
  margin: 0 0 0 100px;

  padding: 0;
  text-transform: uppercase;
  font-family: 'Chunkfive', Arial, sans-serif;
  font-size: 5em;
}

a { text-decoration: none; }

#logo a span { color: #e7e8e3; }

#logo a span:hover { color: #feb41c; }

#top-header-right, nav { margin-left: 5px; float: right; }

nav { border-right: 1px dashed #595655; }
nav li { padding: 30px 5px 10px 5px !important; }
ul#social-icons { margin-top: 12px; }
#top-header-right address {
  position: absolute;
  top: 42px;
  font-size: 12px;
}

nav li.selected, nav li:hover { background-color: #d56350; }

nav li a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 9px;
}

ul#social-icons li { width: 32px; height: 32px; float: left; }
ul#social-icons li a { display: block ; text-indent: -999em; overflow: hidden; }
ul#social-icons li#facebook { background: url(../images/facebook.png) no-repeat; }
ul#social-icons li#twitter  { background: url(../images/twitter.png) no-repeat; }

section#page {
  width: 100%;
}

section#page h1 {
  font-size: 3.4em;
  font-family: DroidSans-Bold, Arial, sans-serif;
  max-width: 200px;
  color: #feb41c;
}

section#page h2 {
  font-size: 1.4em;
  color: #bf302d;
  font-family: DroidSans-Bold, Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #24221f;
}

section#page p {
  font-size: 1em;
  #font-family: DroidSans, Arial, sans-serif;
  text-align: justify;
}

section#top {
  background: url(../images/bicycle_boulevard.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 0 20px 200px;
  border-bottom: 2px solid #3f3f3f;
  border-top: 1px solid #3f3f3f;
}

section#top p {
  max-width: 400px;
}

section#top h1, section#top p {
  margin: 0;
  padding: 5px 10px;
  background-color: rgba(54,63,69,0.8);
}

section#body_content_left, section#body_content_right {
  margin: 0 auto;
  margin-top: 10px;
}
section#body_content_left {
  width: 700px;
}

section#body_content_left .inner {
  padding: 0 0 0 200px;
}

section#body_content_right .inner {
  padding: 0 0px 0 0;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}
