/* line 39, icon */
.icon-sprite, .icon-facebook, .icon-twitter, .icon-yelp {
  background: url('/images/icon-s2f820df44e.png') no-repeat;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 0;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -24px;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-yelp {
  background-position: 0 -48px;
}

@font-face {
  font-family: "Chunkfive";
  src: url('/fonts/Chunkfive.ttf') format('truetype'), url('/fonts/Chunkfive.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-outline";
  src: url('/fonts/Newfolk-outline.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-shadow";
  src: url('/fonts/Newfolk-shadow.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-sketches";
  src: url('/fonts/Newfolk-sketches.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-solid";
  src: url('/fonts/Newfolk-solid.otf') format('opentype');
}

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Squada+One);
/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 87.5%;
  line-height: 1.571em;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 14px;
}

/* Colors ------------------------------------------------------------------*/
/* Layout ------------------------------------------------------------------*/
/* line 18, ../../app/stylesheets/screen.scss */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* line 26, ../../app/stylesheets/screen.scss */
body {
  background-image: url('/images/broken_noise.png?1323405134');
  color: #bdbdbd;
  font-family: 'Droid Sans', sans-serif;
  border-top: 2px solid #202b30;
}

/* line 34, ../../app/stylesheets/screen.scss */
a {
  color: #fec10e;
  text-decoration: none;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #3f3f3f;
}

/* line 40, ../../app/stylesheets/screen.scss */
li a, li a:hover {
  color: white;
}

/* line 45, ../../app/stylesheets/screen.scss */
h2 {
  color: #bf302d;
  font-style: italic;
}

/* line 50, ../../app/stylesheets/screen.scss */
#container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 55, ../../app/stylesheets/screen.scss */
header {
  margin-top: 9em;
  margin-bottom: 1.5em;
}
/* line 58, ../../app/stylesheets/screen.scss */
header h1 {
  clear: both;
  padding-left: 24.59%;
  margin-left: 1.639%;
  font-size: 24px;
  font-family: "Chunkfive";
  font-weight: 400;
  text-transform: uppercase;
}
/* line 67, ../../app/stylesheets/screen.scss */
header h1 a {
  color: #e7e8e3;
}
/* line 70, ../../app/stylesheets/screen.scss */
header nav {
  display: inline;
  float: left;
  width: 22.951%;
  margin-right: 1.639%;
  margin-left: 1.639%;
  text-align: right;
}
/* line 74, ../../app/stylesheets/screen.scss */
header nav ul#main-nav {
  list-style: none;
  margin-bottom: 1.5em;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
header nav ul#main-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 78, ../../app/stylesheets/screen.scss */
header nav ul#main-nav li {
  padding: 0.25em;
  margin-bottom: 0.5em;
}
/* line 81, ../../app/stylesheets/screen.scss */
header nav ul#main-nav li a {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 86, ../../app/stylesheets/screen.scss */
header nav ul#main-nav li.selected, header nav ul#main-nav li:hover {
  background-color: #d56350;
}
/* line 93, ../../app/stylesheets/screen.scss */
header nav div#find-us address {
  margin-bottom: 1.5em;
}
/* line 98, ../../app/stylesheets/screen.scss */
header nav div#find-us div#social a {
  -moz-box-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 2px black;
  -o-box-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 2px black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  position: relative;
  width: 24px;
  height: 24px;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p290@biketopia/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header nav div#find-us div#social a {
  *display: inline;
}
/* line 107, ../../app/stylesheets/screen.scss */
header nav div#find-us div#social a:hover {
  top: -2px;
  -moz-box-shadow: 1px 3px 4px black;
  -webkit-box-shadow: 1px 3px 4px black;
  -o-box-shadow: 1px 3px 4px black;
  box-shadow: 1px 3px 4px black;
}
/* line 108, ../../app/stylesheets/screen.scss */
header nav div#find-us div#social a:active {
  top: -1px;
  -moz-box-shadow: 1px 2px 4px black;
  -webkit-box-shadow: 1px 2px 4px black;
  -o-box-shadow: 1px 2px 4px black;
  box-shadow: 1px 2px 4px black;
}

/* line 115, ../../app/stylesheets/screen.scss */
section#main-content {
  display: inline;
  float: left;
  width: 72.131%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 119, ../../app/stylesheets/screen.scss */
section#main-content #main_content_left {
  display: inline;
  float: left;
  width: 65.909%;
  margin-right: 2.273%;
}
/* line 123, ../../app/stylesheets/screen.scss */
section#main-content #main_content_right {
  display: inline;
  float: left;
  width: 31.818%;
  margin-right: 2.273%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
