@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Squada+One);
/* line 82, icon/*.png */
.icon-sprite, .icon-facebook, .icon-twitter, .icon-yelp {
  background: url('/images/icon-s9fe4a740eb.png') no-repeat;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook {
  background-position: 0 -96px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-facebook:hover, .icon-facebook.facebook_hover, .icon-facebook.facebook-hover {
  background-position: 0 -24px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -120px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter:hover, .icon-twitter.twitter_hover, .icon-twitter.twitter-hover {
  background-position: 0 -48px;
}

/* line 60, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-yelp {
  background-position: 0 -72px;
}
/* line 43, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-yelp:hover, .icon-yelp.yelp_hover, .icon-yelp.yelp-hover {
  background-position: 0 0;
}

@font-face {
  font-family: "Chunkfive";
  src: url('/fonts/Chunkfive.ttf') format('truetype'), url('/fonts/Chunkfive.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-outline";
  src: url('/fonts/Newfolk-outline.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-shadow";
  src: url('/fonts/Newfolk-shadow.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-sketches";
  src: url('/fonts/Newfolk-sketches.otf') format('opentype');
}

@font-face {
  font-family: "Newfolk-solid";
  src: url('/fonts/Newfolk-solid.otf') format('opentype');
}

/* line 61, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.57143em;
}

/* Colors ------------------------------------------------------------------*/
/* Biz Card Colors (originally in CMYK) ---
	Blue:
		Hex converter online --> 2697BD
		Illustrator --> 027CA5
		
	Red:
		hex converter online --> FF0D00
		illustrator --> E42313
*/
/* #202b30 */
/* Layout ------------------------------------------------------------------*/
/* line 28, ../../app/stylesheets/screen.scss */
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/* for full-size cover background.
html { 
	background: url(/images/logo_small.png) no-repeat center center fixed; 
	-webkit-background-size: auto 90%;
	-moz-background-size: auto 90%;
	-o-background-size: auto 90%;
	background-size: auto 90%;
}*/
/* line 45, ../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
}

/* line 49, ../../app/stylesheets/screen.scss */
body {
  background-color: white;
  color: black;
  font-family: "Droid Sans", Arial, sans-serif;
  margin: 0;
}

/* line 56, ../../app/stylesheets/screen.scss */
#container {
  *zoom: 1;
  max-width: 55.5em;
  _width: 55.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* site header ------------------------------------------------------------------*/
/* line 65, ../../app/stylesheets/screen.scss */
header#site-header {
  padding-top: 0.8em;
  width: 100%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
  height: 13.5em;
}

/* line 71, ../../app/stylesheets/screen.scss */
#logo {
  text-align: center;
  height: 100%;
}

/* line 75, ../../app/stylesheets/screen.scss */
#logo img {
  height: 100%;
  text-align: center;
}

/* line 80, ../../app/stylesheets/screen.scss */
#header-info {
  float: right;
  margin-top: -13.5em;
  width: 24.32432%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
}

/* line 86, ../../app/stylesheets/screen.scss */
div#social a {
  -webkit-box-shadow: black 1px 1px 2px;
  -moz-box-shadow: black 1px 1px 2px;
  box-shadow: black 1px 1px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  position: relative;
  width: 24px;
  height: 24px;
}
/* line 95, ../../app/stylesheets/screen.scss */
div#social a:hover {
  top: -2px;
  -webkit-box-shadow: black 1px 3px 4px;
  -moz-box-shadow: black 1px 3px 4px;
  box-shadow: black 1px 3px 4px;
}
/* line 96, ../../app/stylesheets/screen.scss */
div#social a:active {
  top: -1px;
  -webkit-box-shadow: black 1px 2px 4px;
  -moz-box-shadow: black 1px 2px 4px;
  box-shadow: black 1px 2px 4px;
}

/* content etc. ------------------------------------------------------------------*/
/* line 106, ../../app/stylesheets/screen.scss */
div#mainwrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
}

/* navigation ------------------------------------------------------------------*/
/* line 114, ../../app/stylesheets/screen.scss */
nav {
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
  text-align: center;
}

/* line 121, ../../app/stylesheets/screen.scss */
nav ul#main-nav {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
nav ul#main-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 128, ../../app/stylesheets/screen.scss */
nav ul#main-nav li {
  float: left;
  width: 11.71171%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
}

/* line 132, ../../app/stylesheets/screen.scss */
nav ul#main-nav li .outercontainer {
  display: table;
  overflow: hidden;
  background-color: white;
  height: 3em;
  width: 100%;
  border-top: 0.5em solid #027ca5;
  border-bottom: 0.5em solid white;
  -webkit-transition: background-color 0.4s ease-in, border-color 0.4s ease-in, color 0.5s linear;
  -moz-transition: background-color 0.4s ease-in, border-color 0.4s ease-in, color 0.5s linear;
  -o-transition: background-color 0.4s ease-in, border-color 0.4s ease-in, color 0.5s linear;
  transition: background-color 0.4s ease-in, border-color 0.4s ease-in, color 0.5s linear;
}

/* line 142, ../../app/stylesheets/screen.scss */
nav ul#main-nav li.selected .outercontainer {
  border-top: 0.5em solid white;
  border-bottom: 0.5em solid #e42313;
}

/* line 146, ../../app/stylesheets/screen.scss */
nav ul#main-nav li .outercontainer:Hover {
  background-color: #027ca5;
  border-bottom: 0.5em solid #027ca5;
}
/* line 150, ../../app/stylesheets/screen.scss */
nav ul#main-nav li .outercontainer:Hover a {
  color: white;
}

/* line 154, ../../app/stylesheets/screen.scss */
nav ul#main-nav li.selected .outercontainer:Hover {
  background-color: #e42313;
  border-bottom: 0.5em solid #e42313;
}

/* line 160, ../../app/stylesheets/screen.scss */
nav ul#main-nav li .outercontainer .innercontainer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 167, ../../app/stylesheets/screen.scss */
nav ul#main-nav li .outercontainer .innercontainer a {
  font-weight: bold;
  font-size: 90%;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Inline-content layout ------------------------------------------------------------------*/
/* line 184, ../../app/stylesheets/screen.scss */
section#main-content {
  width: 100%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
  border-top: 0.6em solid #e42313;
}
/* line 188, ../../app/stylesheets/screen.scss */
section#main-content #main_content_left {
  width: 74.77477%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
}
/* line 193, ../../app/stylesheets/screen.scss */
section#main-content #main_content_right {
  width: 24.32432%;
  float: right;
  margin-right: 0;
  #margin-left: -0.5em;
  display: inline;
}

/* Footer clear + etc. ------------------------------------------------------------------*/
/* line 201, ../../app/stylesheets/screen.scss */
div#footer-clear {
  clear: both;
  padding-bottom: 3em;
}

/* line 206, ../../app/stylesheets/screen.scss */
footer {
  position: relative;
  width: 100%;
  padding-top: 0.5em;
  background: #027ca5;
  margin-top: -3em;
  /* negative value of footer height */
  height: 3em;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 80%;
  color: white;
  text-align: center;
}
/* line 219, ../../app/stylesheets/screen.scss */
footer a {
  color: white;
  text-decoration: underline;
}
/* line 223, ../../app/stylesheets/screen.scss */
footer a:hover {
  color: white;
  text-decoration: none;
}

/* line 229, ../../app/stylesheets/screen.scss */
.clearboth {
  clear: both;
}

/* Fonts, hX etc ------------------------------------------------------------------*/
/* line 235, ../../app/stylesheets/screen.scss */
h1, h2 {
  font-family: "Droid Sans-Bold", Arial, sans-serif;
}

/* line 239, ../../app/stylesheets/screen.scss */
h2 {
  color: #bf302d;
}

/* Links ------------------------------------------------------------------*/
/* line 245, ../../app/stylesheets/screen.scss */
a {
  color: #027ca5;
  text-decoration: none;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #027ca5;
}
/* line 248, ../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 251, ../../app/stylesheets/screen.scss */
::-moz-selection {
  background: rgba(183, 47, 23, 0.7);
  color: #fff;
  text-shadow: none;
}

/* line 256, ../../app/stylesheets/screen.scss */
::selection {
  background: rgba(183, 47, 23, 0.7);
  color: #fff;
  text-shadow: none;
}

/* Lists ------------------------------------------------------------------*/
/* line 264, ../../app/stylesheets/screen.scss */
ul {
  list-style: none;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 267, ../../app/stylesheets/screen.scss */
li a, li a:hover {
  color: black;
  text-decoration: none;
}

/* line 274, ../../app/stylesheets/screen.scss */
dl dt {
  font-weight: bold;
}
/* line 275, ../../app/stylesheets/screen.scss */
dl dd {
  padding-left: 50px;
}
