<!-- this comment is in header.html.erb -->
<hgroup>
  <h1><%= link_to "Biketopia", root_path %></h1>
  <h2>Community Workshop</h2>
</hgroup>
<% if false %>
<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<% end %>
