// Imports -------------------------------------------------------------------

@import "base";

/* Colors ------------------------------------------------------------------*/

$color-body-background: #202b30;
$color-header: #e7e8e3;
$color-header2: #bf302d;
$color-list: white;
$color-paragraph: #bdbdbd;
$color-link-normal: #fec10e;
$color-link-hover: #3f3f3f;
$color-nav-background: #d56350;

/* Layout ------------------------------------------------------------------*/

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

body {
  background-image: image-url('broken_noise.png');
  color: $color-paragraph;
  font-family: 'Droid Sans', Arial, sans-serif;
  border-top: 2px solid $color-body-background;
}

h1,h2 {
  font-family: 'Droid Sans-Bold', Arial, sans-serif;
}

a {
  @include link-colors($color-link-normal, $color-link-normal);
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

::-moz-selection {
  background: rgba(183, 47, 23,0.7);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: rgba(183, 47, 23,0.7);
  color: #fff;
  text-shadow: none;
}
ul { @include no-bullets; }

li {
  a, a:hover {
    color: $color-list;
  }
}

dl {
  dt { font-weight:bold; }
  dd { padding-left: 50px; }
}

h2 {
  color: $color-header2;
}

#container {
  @include container;
  //@include susy-grid-background;
}

header {
  @include full;
  background-image: image-url('header-bg.png');
  padding: 1em;
  h1 {
    @include columns(4);

    font-size: $base-font-size + 20;
    font-family: "Chunkfive";
    font-weight: 400;
    text-transform: uppercase;
    a { color: $color-header; }
  }
  h2 {
    color: $color-header;
    font-style: italic;
  }
}

nav {
  @include columns(3);
  @include alpha;
  text-align: right;
  ul#main-nav {
    margin-bottom: 1.5em;

    li {
      padding: 0.25em;
      margin-bottom: 0.5em;
      a {
        font-weight: bold;
        text-transform: uppercase;
        display: block;
      }

      &.selected, &:hover {
        background-color: $color-nav-background;
      }
    }
  }

  div#find-us {
    address {
      margin-bottom: 1.5em;
    }

    div#social {
      a {
        @include box-shadow(#000 1px 1px 2px);
        @include border-radius(4px);
        @include inline-block;
        @include hide-text;
        position: relative;
        width: 24px;
        height: 24px;

        &:hover { top: -2px; @include box-shadow(#000 1px 3px 4px); }
        &:active { top: -1px; @include box-shadow(#000 1px 2px 4px); }
      }
    }
  }
}

section#main-content {
  @include columns(9);
  @include omega;

  #main_content_left {
    @include columns(6,9);
  }

  #main_content_right {
    @include columns(3,9);
    @include omega(9);
  }
}
